

table,tr,th
{
    font-size: 20px;
    border : 3px solid black !important;
    padding : 20px !important;
    margin : auto;

}

#dropper {
    text-align: center;
       margin : auto;
    padding : 50px;
}
}

form {
   

    top: 50%;
}

select{
 
    padding : 20px 30px 20px 30px;
    

}

.shown
{
    display : grid;
}

.hidden 
{
    display : none !important;
}
#info
{
    padding-top:0px !important;
    margin : auto;
    
}


.btn
{
  
    font-size: 35px !important;
    color : black !important; 
    height : 80px;
    font-weight: bold !important;
    font-family: 'Courier New', Courier, monospace;
}


nav 
{
    font-size : 30px;
   
}

a{
    font-size : 30px !important; 
}

li{
     padding: 25px !important;
}

.table2
{
    margin-top : 30px !important;
    padding-top: 30px !important;
}

.table2:hover{
    background-color:black;
    color: white !important;
    border: 3px solid white;
}