body{

overflow-x: hidden;

}

nav 
{
    font-size : 30px;
    margin : 0px  !important;
    padding : 0px;
    color : black !important;
    font-weight: bolder !important;
    font-family: Arial, Helvetica, sans-serif !important;



   
}

a{
    font-size : 30px !important; 
}

li{
     padding: 25px !important;
}