body{

overflow-x: hidden;

}
/*img{
    width : 200px;
    height : 100px;
    margin :aut0;
    display : block;

}*/
table,tr,th
{
    
    font-size: 20px;
    border : 3px solid black !important;
    padding : 20px !important;
    

}

tr:hover
{
    background-color: black !important;
    color : white !important;

}

#dropper
{
    padding-bottom : 50px;
    padding-top:50px;
}

.card
{
    font-size: 20px;
    text-align: center;
       margin:auto;
    padding-top : 20px !important;
}

form {
   

    top: 50%;
}

select{
 
    padding : 20px 30px 20px 30px;
    

}

.shown
{
    display : grid;
}

.hidden 
{
    display : none !important;
}
#info
{
    padding-top:0px !important;
    margin : auto;
    
}


.btn
{
    
    font-size: 35px !important;
    color : black !important; 
    height : 80px;
    font-weight: bold !important;
    font-family: 'Courier New', Courier, monospace;
}


nav 
{
    font-size : 30px;
    margin : 0px  !important;
    padding : 0px;
    color : black !important;
    font-weight: bolder !important;
    font-family: Arial, Helvetica, sans-serif !important;



   
}

a{
    font-size : 30px !important; 
}

li{
     padding: 25px !important;
}

.table2
{
    margin-top : 30px !important;
    padding-top: 30px !important;
}

.table2:hover{
    background-color:black;
    color: white !important;
    border: 3px solid white;
}
select:hover
{
    color: white !important;
}

.headline
{
    padding : 20px;
    font-family: 'Courier New', Courier, monospacex;
    display:block;
    margin : auto;
}
