body{

overflow-x: hidden;

}

.headline
{
    text-align: center;
    padding : 20px;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    
}

.row
{
    margin: auto !important;
    display: flex!important;
    padding: 20px !important;;
}

.card {
    
    margin: 0 0 0 40px !important;
    height: 22rem !important;
  
}
h2{
    font-size: 30px !important;
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: bolder;
}

img{
    height : 400px !important;
    width: 175px !important;
   
     margin-top : 20px !important;
    
}
.nostyle
{
    padding:0 !important;
    margin-top : 40px !important;
}

.jumbotron
{
    margin-top: 30px !important;
    margin-left: 0px !important;
    
}

p{
   font-size: 20px;
   color: black;
   font-weight: bold !important;
   display: block !important;
}

