body{

overflow-x: hidden;

}

nav 
{
    font-size : 30px;
    margin : 0px  !important;
    padding : 0px;
    color : black !important;
    font-weight: bolder !important;
    font-family: Arial, Helvetica, sans-serif !important;

}

a{
    font-size : 30px !important; 
}

li{
     padding: 25px !important;
}


th,td{
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    
}

thead,tr,th,table,tbody,td{
     padding : 20px !important;
       border : 2px solid blue !important;
    
}

table{
    margin-top : 50px !important;
     text-align: center !important;
   
}
.headline
{
    text-align: center;
    padding : 20px;
    
}