body{

overflow-x: hidden;

}

nav 
{
    font-size : 30px;
    margin : 0px  !important;
    padding : 0px;
    color : black !important;
    font-weight: bolder !important;
    font-family: Arial, Helvetica, sans-serif !important;

}

a{
    font-size : 30px !important; 
}

li{
     padding: 25px !important;
}


th,td{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    
}


tr,th,table,tbody,td{
     padding : 20px !important;
       border : 3px solid blue !important;
    
}

table{
    margin-top : 50px !important;
     text-align: center !important;
     margin-bottom : 50px !important;
   
}
thead{
     text-align: center !important;
     white-space: nowrap;
}

.headline
{
    text-align: center;
    padding : 20px;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    
}

tr:hover{
    color : white !important;
    background-color: black;
}

